<!DOCTYPE html>
<html lang="en">

<head>
      <script src="/jquery/jquery.js"></script>
      <link rel="stylesheet" href="/css/admin/menu.css">
      <link rel="stylesheet" href="/css/admin/layOut.css">
      <link rel="stylesheet" href="/css/admin/createAccount.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
      <div class="createAccountOut" style="display: none;">
            <div id="createAccount">
                  <div style="text-align: left;">
                        <h2 style="text-align: center;">ACCOUNT INFORMATION</h2>
                        <img id='output' style="height:300px; width:auto;text-align: center;">
                        <figcaption>Hãy chọn ảnh đại diện</figcaption>
                        <input type='file' id="myFile" accept='image/*' style="width: 100%;">
                        Full name:<input type="text" id="username">
                        Gender:<select class="Role" id="gender">
                              <option value="male">male</option>
                              <option value="female">female</option>
                              <option value="other">other</option>
                        </select>

                        Email:<input type="email" id="email">
                        Password:<input type="password" id="password">
                        Role:
                        <select class="Role" id="role" onchange="role('create')">
                              <option value="student">Student</option>
                              <option value="teacher">Teacher</option>
                        </select>
                        Birthday:<input type="date" id="birthday">
                        Phone:<input type="text" id="phone">
                        Address:<input type="text" id="address">
                  </div>
                  <div class="typeRole" style="text-align: left;">
                        Guardian name: <input type='text' name='guardianName'>
                        Guardian phone:<input type='number' name='guardianPhone'>
                        Guardian email:<input type='text' name='guardianEmail'>
                        Chọn lộ trình học
                        <select id="routeTypeS" onchange="routeType('create')">
                              {{#each targetxxx}}
                              <option value="{{routeName}}">
                                    {{routeName}}
                              </option>
                              {{/each}}
                        </select>
                        Level
                        <select id="levelS"></select>
                        Aim
                        <select id="Aim"></select>
                  </div>
                  <button class='button' onclick="signUp()">tiến hành tạo tài khoản</button>
                  <button class='button' onclick="reset()">Reset thông tin</button>
            </div>
      </div>

      <div class="updateFormOut" style="display: none;">
            <div id="updateForm">
                  <div style="text-align: left;">
                        <input type='hidden' id='PersonID'>
                        <h2 style="text-align: center;"> UPDATE ACCOUNT INFORMATION</h2>
                        <img id='currentAvatar' style="height:300px; width:auto;text-align:center;">
                        <figcaption>Hãy chọn ảnh đại diện mới nếu muốn đổi</figcaption>
                        <input type="hidden" id="oldAvatar">
                        <input type='file' id='myFileUpdate' style="width:100%;">
                        Name<input type='text' id='usernameUpdate'>
                        Email<input type="email" id="emailUpdate">

                        Password<input type='password' id='passwordUpdate'
                              placeholder="update new passwork if you want to">
                        Gender
                        <select id='genderUpdate'>
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="other">Other</option>
                        </select>
                        Birthday<input type='date' id='birthdayUpdate'>
                        Phone<input type='text' id='phoneUpdate'>
                        Address<input type='text' id='addressUpdate'>
                        <input type='hidden' id='currentRole'>
                        Role
                        <select class='Role' id='roleUpdate' onchange="role('update')">
                              <option value="student">Student</option>
                              <option value="teacher">Teacher</option>
                        </select>
                  </div>
                  <div class='typeRole' style="text-align: left;">
                        Chọn lộ trình học
                        <select id='routeTypeSUpdate' onchange="routeType('update')"></select>
                        Level
                        <select id='levelSUpdate'></select>
                        Aim
                        <select id='AimUpdate'></select>
                        Guardian name:<input type='text' name='guardianNameUpdate'>
                        Guardian phone: <input type='number' name='guardianPhoneUpdate'>
                        Guardian email:<input type='text' name='guardianEmailUpdate'>
                  </div>
                  <button class='button' onclick="doUpdate()">tiến hành cập nhật thông tin tài khoản</button>

            </div>
      </div>


      <header> {{> adminHeader }}</header>

      <div class="body">
            <div class='leftSide'>
                  <div class='tr' id="option">
                        <div class='td'>
                              <button onclick='$(".createAccountOut").slideToggle();'>Create account</button>
                        </div>
                        <div class='td'>
                              Filter:
                              <select id="accountFilter" onchange="count()">
                                    <option value="teacher">teacher</option>
                                    <option value="student">student</option>
                              </select>
                        </div>
                        <div class='td'>
                              <input id='search' type='text' placeholder='Nhập email hoặc số điện thoại'>
                              <button onclick="search('')">Search</button>
                        </div>
                        <div class='td' id="soTrang">
                        </div>
                  </div>
                  <div class="tableAccount"></div>
            </div>
            <div class='rightSide'>

            </div>

      </div>

      </div>
</body>

<script src=" /js/admin/createAccount.js"></script>

</html>