<tr>
  <td><img style='max-width:150px;max-height:200px' src='" + data.avatar + "'></td>
  <td>" + data.username + "</td>
  <td>" + data.email + "</td>
  <td>" + data.role + "</td>
  <td>" + data.sex + "</td>
  <td>" + data.phone + "</td>
  <td>" + data.address + "</td>
  <td>" + data.birthday + "</td>
  <td><button onclick=updateForm('" + data._id + "')>Update</button></td>
</tr>
  