* {
    box-sizing: border-box;
    width: 100%;
    padding: 2%;
    margin: 0;
}

body {
    width: 100%;
    background-image: url("/images/background.jpg");
    background-repeat: repeat-x;
    padding: 0;
    margin: 0;
    margin-top: 1%;
    z-index: 1;
}

header {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
    border: solid;
}

header ul {
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    height: 100%;
    width: auto;
    padding: 0;
    font-size: 20px;
    float: right;
}

header li {
    padding: 0;
    height: 100%;
    float: left;
    width: 190.5px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
}

.chatForm {
    box-sizing: border-box;
    width: 100%;
    height: 520px;
    padding: 0;
    margin: 0;
}

.chatHistory {
    box-sizing: border-box;
    border: solid black;
    width: 25%;
    float: left;
    padding: 0;
    height: 520px;
    margin: 0;
}

div.chat {
    box-sizing: border-box;
    height: 100%;
    width: 75%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: solid black;
}

.history {
    box-sizing: border-box;
    width: 100%;
    height: 420px;
    overflow: auto;
}

.chatOption {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    border-bottom: solid black;
}

.chatOption input {
    width: 75%;
    border-radius: 10px;
}

.chatOption button {
    text-align: center;
    width: 23%;
    border-radius: 10px;
    float: right;
}

.history div {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    height: 70px;
    font-size: 16px;
    overflow: hidden;
}

.history div img {
    box-sizing: border-box;
    height: 70px;
    width: 70px;
    margin: 0;
    border-radius: 25%;
    float: left;
}

.history p {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    height: 70px;
    vertical-align: middle;
    font-size: 20px;
}

.chatTitle {
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

#messContent {
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    margin: 0;
    color: blanchedalmond;
}

.sender,
.receiver {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    height: auto;
}

.sender p,
.receiver p {
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    overflow-wrap: break-word;
    width: auto;
    background: gray;
    border-radius: 10px;
    font-size: 18px;
}

.sender p {
    text-align: right;
}

.receiver p {
    text-align: left;
}

.sender img,
.receiver img {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

.sender {
    text-align: right;
    padding: 0;
    padding-right: 10px;
    font-size: 16px;
}

.receiver {
    padding: 0;
    padding-left: 10px;
    text-align: left;
    font-size: 16px;
}

div.chatBox {
    box-sizing: border-box;
    height: 380px;
    width: auto;
    overflow: auto;
    background-color: rgb(40, 40, 40);
    padding: 0;
    margin: 0;
}

div.sendMess {
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sendMess input {
    width: 80%;
    height: 70px;
    float: left;
    font-size: 18px;
}

.sendMess button {
    width: 20%;
    height: 70px;
    text-align: center;
    font-size: 20px;
}