* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url("/images/background.jpg");
    background-repeat: repeat-x;
    padding: 2%;
    margin: 0;
    margin-top: 1%;
    z-index: 1;
}

.content {
    box-sizing: border-box;
    margin: 0;
    margin-top: 10px;
    height: 520px;
    padding: 0;
}

#teacherProfile {
    padding: 30px;
    width: 30%;
    height: 100%;
    float: left;
    border: solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#Schedual {
    width: 69%;
    height: 100%;
    padding: 30px;
    float: right;
    border: solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tr {
    display: table-row;
    padding: 5px;
    overflow: hidden;
}

.td {
    display: table-cell;
    padding: 5px;
    width: 300px;
    border: #000000 solid 1px;
    margin: 5px;
}

.updateProfileOut {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    /* Stay in place */
    background-color: rgb(215, 225, 230);
    /* Fallback color */
    background-color: rgba(209, 189, 189, 0.4);
    /* Black w/ opacity */
    overflow: auto;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.updateProfile {
    border: lightblue 4px solid;
    box-shadow: 10px 10px 10px 10px lightblue;
    width: 40%;
    height: auto;
    border-radius: 30px;
    background-color: steelblue;
    height: 600px;
    margin-left: 30%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    font-size: 20px;
    text-align: left;
}

.updateProfile::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.updateProfile input {
    font-size: 20px;
}

#teacherProfile {
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

#teacherProfile::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}