<ul>
    <li style="float:left;font-family:cursive;">Sown English</li>
    <li onclick="location.href='/account/homeAdmin';">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Trang chủ Admin
    </li>
    <li onclick="location.href='/admin/createAccount'">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Manage account
    </li>
    <li onclick="location.href='/admin/createRoute';">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Manage Route
    </li>
    <li onclick="location.href='/admin/createClass';">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Manage Class
    </li>
    <li onclick="consultingAll('0')">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        Consulting All
    </li>
    <li id='welcome'>welcome admin</li>
    <li onclick="location.href='/';" style="width: 8%;text-align:center">
        <div style="background-color:lightpink;display:none;height:10px"></div>
        <i class="fas fa-sign-out-alt fa-lg"></i>
    </li>
</ul>